
<!-- <h1>Welcome#index</h1> -->

<!-- #replace the below line on all controller pages -->
<!--<a href="//'welcome'>WELCOME!</a>-->
<p>Find me in the gallery</p>


<hr/>



<!-- #using ruby helpers-welcome to path -->
#<%= link_to('My link!', welcome_path) %>

end