
<!--<h1>Gallery</h1>-->
<!--<p>Find me in app/views/gallery/index.html.erb</p>-->

<html>
<head>
<title>Exploring HTML</title>
<style>
body  {background-color: #CCFF66;}
h1 {font-family: Arial, sans-serif; font-size 32px; color: Blue;}
h2 {font-family: Arial, sans-serif; font-size 32px; color: Blue;}
p {font-family: Arial, sans-serif; font-size 14px; color: red;}
img {width: 20%;}
</style>
</head>
<body>
  
   
<center><h1>The Long and Winding Road</h1></center>
<h2>Where to begin?</h2>
<p>The journey has been one filled with opportunity for tremendous opportunity</>


<hr/>
<hr/>

<% @images.each do |image_record| %>
<%= image_tag ( image_record.file_name ) %>
<%= image_record.name %>
<%= image_record.description %>
<% end %>


<button id="color">Change color!</button>
<script>
document.getElementById('color').onclick = changeColor;
var currentColor = "Blue";

function changeColor() {
    if(currentColor == "Blue"){
    document.body.style.color = "red";
    currentColor = "red";
    } else {
    document.body.style.color = "Blue";
    currentColor = "Blue";
    }
  return currentColor;
  }
</script>
</body>
</html >

