<h1> <b>Hi It's Pam @ Tech Talent South Training Class</b> </h1>

<h2>About Me: A programming <i>"Newby"</i> infact so new it hurts at times - working on learning the strange and fascinating world of "pseudo"
	programming - called "Ruby on Rails"</h2>


<p>This is me</p>



