<html>
<h1> <b>Hi It's Pam @ Tech Talent South Training Class</b> </h1>

<h2>About Me: A programming <i>"Newby"</i> infact so new it hurts at times - working on learning the strange and fascinating world of "pseudo"
	programming - called "Ruby on Rails"</h2>

<nav class="ym-hlist">
  <ul>
    <li class="active"><strong>Active</strong></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>


</html>

